apiVersion: apps/v1
kind: Deployment
metadata:
  name: hotel-menu-deployment
  labels:
    app: hotel-menu
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hotel-menu
  template:
    metadata:
      labels:
        app: hotel-menu
    spec:
      containers:
        - name: hotel-menu
          image: YOUR_DOCKERHUB_USERNAME/hotel-menu:latest
          ports:
            - containerPort: 80
          imagePullPolicy: Always
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
